In [ ]:
!pip install --quiet stanza transformers datasets tokenizers torch

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 664.8/664.8 MB 1.9 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 211.5/211.5 MB 12.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.3/56.3 MB 44.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 127.9/127.9 MB 8.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 207.5/207.5 MB 10.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.1/21.1 MB 111.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 12.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 183.9/183.9 kB 16.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.5/143.5 kB 14.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 590.6/590.6 kB 50.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.8/194.8 kB 20.0 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
sentence-transformers 3.4.1 requires transformers<5.0.0,>=4.41.0, but you have transformers 4.28.1 which is incompatible.
gcsfs 2025.3.2 requires fsspec==2025.3.2, but you have fsspec 2024.12.0 which is incompatible.

In [ ]:
!unzip -q lessons_final.zip -d ./lessons_final

In [ ]:
pip install --upgrade torch torchvision torchaudio

Requirement already satisfied: torch in /usr/local/lib/python3.11/dist-packages (2.6.0+cu124)
Collecting torch
  Using cached torch-2.7.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (29 kB)
Requirement already satisfied: torchvision in /usr/local/lib/python3.11/dist-packages (0.21.0+cu124)
Collecting torchvision
  Using cached torchvision-0.22.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.1 kB)
Requirement already satisfied: torchaudio in /usr/local/lib/python3.11/dist-packages (2.6.0+cu124)
Collecting torchaudio
  Using cached torchaudio-2.7.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.6 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from torch) (3.18.0)
Requirement already satisfied: typing-extensions>=4.10.0 in /usr/local/lib/python3.11/dist-packages (from torch) (4.13.2)
Collecting sympy>=1.13.3 (from torch)
  Using cached sympy-1.13.3-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: networkx in /usr/local/lib/python3.11/dist-packages (from torch) (3.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from torch) (3.1.6)
Requirement already satisfied: fsspec in /usr/local/lib/python3.11/dist-packages (from torch) (2024.12.0)
Collecting nvidia-cuda-nvrtc-cu12==12.6.77 (from torch)
  Using cached nvidia_cuda_nvrtc_cu12-12.6.77-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-runtime-cu12==12.6.77 (from torch)
  Using cached nvidia_cuda_runtime_cu12-12.6.77-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-cupti-cu12==12.6.80 (from torch)
  Using cached nvidia_cuda_cupti_cu12-12.6.80-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cudnn-cu12==9.5.1.17 (from torch)
  Using cached nvidia_cudnn_cu12-9.5.1.17-py3-none-manylinux_2_28_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cublas-cu12==12.6.4.1 (from torch)
  Using cached nvidia_cublas_cu12-12.6.4.1-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cufft-cu12==11.3.0.4 (from torch)
  Using cached nvidia_cufft_cu12-11.3.0.4-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-curand-cu12==10.3.7.77 (from torch)
  Using cached nvidia_curand_cu12-10.3.7.77-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cusolver-cu12==11.7.1.2 (from torch)
  Using cached nvidia_cusolver_cu12-11.7.1.2-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cusparse-cu12==12.5.4.2 (from torch)
  Using cached nvidia_cusparse_cu12-12.5.4.2-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cusparselt-cu12==0.6.3 (from torch)
  Using cached nvidia_cusparselt_cu12-0.6.3-py3-none-manylinux2014_x86_64.whl.metadata (6.8 kB)
Collecting nvidia-nccl-cu12==2.26.2 (from torch)
  Using cached nvidia_nccl_cu12-2.26.2-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Collecting nvidia-nvtx-cu12==12.6.77 (from torch)
  Using cached nvidia_nvtx_cu12-12.6.77-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-nvjitlink-cu12==12.6.85 (from torch)
  Using cached nvidia_nvjitlink_cu12-12.6.85-py3-none-manylinux2010_x86_64.manylinux_2_12_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cufile-cu12==1.11.1.6 (from torch)
  Using cached nvidia_cufile_cu12-1.11.1.6-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (1.5 kB)
Collecting triton==3.3.0 (from torch)
  Using cached triton-3.3.0-cp311-cp311-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (1.5 kB)
Requirement already satisfied: setuptools>=40.8.0 in /usr/local/lib/python3.11/dist-packages (from triton==3.3.0->torch) (75.2.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from torchvision) (2.0.2)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.11/dist-packages (from torchvision) (11.1.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from sympy>=1.13.3->torch) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->torch) (3.0.2)
Downloading torch-2.7.0-cp311-cp311-manylinux_2_28_x86_64.whl (865.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 865.2/865.2 MB 1.4 MB/s eta 0:00:00
Using cached nvidia_cublas_cu12-12.6.4.1-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (393.1 MB)
Using cached nvidia_cuda_cupti_cu12-12.6.80-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (8.9 MB)
Using cached nvidia_cuda_nvrtc_cu12-12.6.77-py3-none-manylinux2014_x86_64.whl (23.7 MB)
Using cached nvidia_cuda_runtime_cu12-12.6.77-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (897 kB)
Using cached nvidia_cudnn_cu12-9.5.1.17-py3-none-manylinux_2_28_x86_64.whl (571.0 MB)
Using cached nvidia_cufft_cu12-11.3.0.4-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (200.2 MB)
Using cached nvidia_cufile_cu12-1.11.1.6-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (1.1 MB)
Using cached nvidia_curand_cu12-10.3.7.77-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (56.3 MB)
Using cached nvidia_cusolver_cu12-11.7.1.2-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (158.2 MB)
Using cached nvidia_cusparse_cu12-12.5.4.2-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (216.6 MB)
Using cached nvidia_cusparselt_cu12-0.6.3-py3-none-manylinux2014_x86_64.whl (156.8 MB)
Using cached nvidia_nccl_cu12-2.26.2-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (201.3 MB)
Using cached nvidia_nvjitlink_cu12-12.6.85-py3-none-manylinux2010_x86_64.manylinux_2_12_x86_64.whl (19.7 MB)
Using cached nvidia_nvtx_cu12-12.6.77-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (89 kB)
Using cached triton-3.3.0-cp311-cp311-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (156.5 MB)
Using cached torchvision-0.22.0-cp311-cp311-manylinux_2_28_x86_64.whl (7.4 MB)
Using cached torchaudio-2.7.0-cp311-cp311-manylinux_2_28_x86_64.whl (3.5 MB)
Using cached sympy-1.13.3-py3-none-any.whl (6.2 MB)
Installing collected packages: nvidia-cusparselt-cu12, triton, sympy, nvidia-nvtx-cu12, nvidia-nvjitlink-cu12, nvidia-nccl-cu12, nvidia-curand-cu12, nvidia-cufile-cu12, nvidia-cuda-runtime-cu12, nvidia-cuda-nvrtc-cu12, nvidia-cuda-cupti-cu12, nvidia-cublas-cu12, nvidia-cusparse-cu12, nvidia-cufft-cu12, nvidia-cudnn-cu12, nvidia-cusolver-cu12, torch, torchvision, torchaudio
  Attempting uninstall: nvidia-cusparselt-cu12
    Found existing installation: nvidia-cusparselt-cu12 0.6.2
    Uninstalling nvidia-cusparselt-cu12-0.6.2:
      Successfully uninstalled nvidia-cusparselt-cu12-0.6.2
  Attempting uninstall: triton
    Found existing installation: triton 3.2.0
    Uninstalling triton-3.2.0:
      Successfully uninstalled triton-3.2.0
  Attempting uninstall: sympy
    Found existing installation: sympy 1.13.1
    Uninstalling sympy-1.13.1:
      Successfully uninstalled sympy-1.13.1
  Attempting uninstall: nvidia-nvtx-cu12
    Found existing installation: nvidia-nvtx-cu12 12.4.127
    Uninstalling nvidia-nvtx-cu12-12.4.127:
      Successfully uninstalled nvidia-nvtx-cu12-12.4.127
  Attempting uninstall: nvidia-nvjitlink-cu12
    Found existing installation: nvidia-nvjitlink-cu12 12.4.127
    Uninstalling nvidia-nvjitlink-cu12-12.4.127:
      Successfully uninstalled nvidia-nvjitlink-cu12-12.4.127
  Attempting uninstall: nvidia-nccl-cu12
    Found existing installation: nvidia-nccl-cu12 2.21.5
    Uninstalling nvidia-nccl-cu12-2.21.5:
      Successfully uninstalled nvidia-nccl-cu12-2.21.5
  Attempting uninstall: nvidia-curand-cu12
    Found existing installation: nvidia-curand-cu12 10.3.5.147
    Uninstalling nvidia-curand-cu12-10.3.5.147:
      Successfully uninstalled nvidia-curand-cu12-10.3.5.147
  Attempting uninstall: nvidia-cuda-runtime-cu12
    Found existing installation: nvidia-cuda-runtime-cu12 12.4.127
    Uninstalling nvidia-cuda-runtime-cu12-12.4.127:
      Successfully uninstalled nvidia-cuda-runtime-cu12-12.4.127
  Attempting uninstall: nvidia-cuda-nvrtc-cu12
    Found existing installation: nvidia-cuda-nvrtc-cu12 12.4.127
    Uninstalling nvidia-cuda-nvrtc-cu12-12.4.127:
      Successfully uninstalled nvidia-cuda-nvrtc-cu12-12.4.127
  Attempting uninstall: nvidia-cuda-cupti-cu12
    Found existing installation: nvidia-cuda-cupti-cu12 12.4.127
    Uninstalling nvidia-cuda-cupti-cu12-12.4.127:
      Successfully uninstalled nvidia-cuda-cupti-cu12-12.4.127
  Attempting uninstall: nvidia-cublas-cu12
    Found existing installation: nvidia-cublas-cu12 12.4.5.8
    Uninstalling nvidia-cublas-cu12-12.4.5.8:
      Successfully uninstalled nvidia-cublas-cu12-12.4.5.8
  Attempting uninstall: nvidia-cusparse-cu12
    Found existing installation: nvidia-cusparse-cu12 12.3.1.170
    Uninstalling nvidia-cusparse-cu12-12.3.1.170:
      Successfully uninstalled nvidia-cusparse-cu12-12.3.1.170
  Attempting uninstall: nvidia-cufft-cu12
    Found existing installation: nvidia-cufft-cu12 11.2.1.3
    Uninstalling nvidia-cufft-cu12-11.2.1.3:
      Successfully uninstalled nvidia-cufft-cu12-11.2.1.3
  Attempting uninstall: nvidia-cudnn-cu12
    Found existing installation: nvidia-cudnn-cu12 9.1.0.70
    Uninstalling nvidia-cudnn-cu12-9.1.0.70:
      Successfully uninstalled nvidia-cudnn-cu12-9.1.0.70
  Attempting uninstall: nvidia-cusolver-cu12
    Found existing installation: nvidia-cusolver-cu12 11.6.1.9
    Uninstalling nvidia-cusolver-cu12-11.6.1.9:
      Successfully uninstalled nvidia-cusolver-cu12-11.6.1.9
  Attempting uninstall: torch
    Found existing installation: torch 2.6.0+cu124
    Uninstalling torch-2.6.0+cu124:
      Successfully uninstalled torch-2.6.0+cu124
  Attempting uninstall: torchvision
    Found existing installation: torchvision 0.21.0+cu124
    Uninstalling torchvision-0.21.0+cu124:
      Successfully uninstalled torchvision-0.21.0+cu124
  Attempting uninstall: torchaudio
    Found existing installation: torchaudio 2.6.0+cu124
    Uninstalling torchaudio-2.6.0+cu124:
      Successfully uninstalled torchaudio-2.6.0+cu124
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
sentence-transformers 3.4.1 requires transformers<5.0.0,>=4.41.0, but you have transformers 4.28.1 which is incompatible.
fastai 2.7.19 requires torch<2.7,>=1.10, but you have torch 2.7.0 which is incompatible.
Successfully installed nvidia-cublas-cu12-12.6.4.1 nvidia-cuda-cupti-cu12-12.6.80 nvidia-cuda-nvrtc-cu12-12.6.77 nvidia-cuda-runtime-cu12-12.6.77 nvidia-cudnn-cu12-9.5.1.17 nvidia-cufft-cu12-11.3.0.4 nvidia-cufile-cu12-1.11.1.6 nvidia-curand-cu12-10.3.7.77 nvidia-cusolver-cu12-11.7.1.2 nvidia-cusparse-cu12-12.5.4.2 nvidia-cusparselt-cu12-0.6.3 nvidia-nccl-cu12-2.26.2 nvidia-nvjitlink-cu12-12.6.85 nvidia-nvtx-cu12-12.6.77 sympy-1.13.3 torch-2.7.0 torchaudio-2.7.0 torchvision-0.22.0 triton-3.3.0

In [ ]:
pip install transformers==4.28.1

Requirement already satisfied: transformers==4.28.1 in /usr/local/lib/python3.11/dist-packages (4.28.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from transformers==4.28.1) (3.18.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.11.0 in /usr/local/lib/python3.11/dist-packages (from transformers==4.28.1) (0.30.2)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.11/dist-packages (from transformers==4.28.1) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from transformers==4.28.1) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.11/dist-packages (from transformers==4.28.1) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.11/dist-packages (from transformers==4.28.1) (2024.11.6)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from transformers==4.28.1) (2.32.3)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.11/dist-packages (from transformers==4.28.1) (0.13.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.11/dist-packages (from transformers==4.28.1) (4.67.1)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub<1.0,>=0.11.0->transformers==4.28.1) (2024.12.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub<1.0,>=0.11.0->transformers==4.28.1) (4.13.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->transformers==4.28.1) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->transformers==4.28.1) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->transformers==4.28.1) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->transformers==4.28.1) (2025.1.31)

In [ ]:
# !pip install --quiet stanza transformers datasets tokenizers torch

import os, pickle, random
import torch
from torch import nn
torch.autograd.set_detect_anomaly(True)
from datasets import Dataset
from transformers import (
    GPT2Config, GPT2TokenizerFast,
    Trainer, TrainingArguments, GPT2LMHeadModel
)
from sklearn.model_selection import train_test_split

# STEP 1 – Setup
import stanza
stanza.download("en", verbose=False)
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

MAX_COMBOS = 1024
combo2id = {"<UNK>": 0}
_next_id = 1
def dynamic_get_combo_id(pos, dep, ner, feats):
    global _next_id
    key = (pos, dep, ner, feats)
    if key not in combo2id and _next_id < MAX_COMBOS:
        combo2id[key] = _next_id
        _next_id += 1
    return combo2id.get(key, 0)

tokenizer = GPT2TokenizerFast.from_pretrained("gpt2")
tokenizer.pad_token = tokenizer.eos_token

import re

# STEP 2 – Load pre-parsed lessons
pkl_folder = "./lessons_final/lessons_final"
lessons = {}

def extract_vol_lesson(filename):
    match = re.match(r'v(\d+)_l(\d+)\.pkl', filename)
    return (int(match.group(1)), int(match.group(2))) if match else (999, 999)

all_files = os.listdir(pkl_folder)
pkl_files = sorted(
    [f for f in all_files if re.match(r'v\d+_l\d+\.pkl', f)],
    key=extract_vol_lesson
)

for fname in pkl_files:
    with open(os.path.join(pkl_folder, fname), "rb") as f:
        lessons[fname] = pickle.load(f)
    print(f"✅ Loaded {fname} ({len(lessons[fname])} docs)")

def filter_short_docs(docs, min_tokens=2):
    kept = []
    for i, d in enumerate(docs):
        ids, _ = encode_doc(d)
        if len(ids) >= min_tokens:
            kept.append(d)
        else:
            print(f"⚠️ Skipping doc #{i} in this lesson: only {len(ids)} tokens")
    return kept


# STEP 3 – Combo extraction and encoding
def scan_doc(doc):
    ents = [(e.start_char, e.end_char, e.type) for e in doc.ents]
    for w in [w for s in doc.sentences for w in s.words]:
        ner = next((t for s0, e0, t in ents if s0 <= w.start_char < e0), "O")
        dynamic_get_combo_id(w.upos, w.deprel, ner, w.feats)

def encode_doc(doc):
    text = doc.text
    enc = tokenizer(text, return_offsets_mapping=True, add_special_tokens=False)
    ents = [(e.start_char, e.end_char, e.type) for e in doc.ents]
    words = [w for s in doc.sentences for w in s.words]

    combo_ids = []
    for start, end in enc["offset_mapping"]:
        if start == end or end <= start:
            combo_ids.append(0)
            continue

        match = None
        for w in words:
            # allow small overlap fuzziness (fixes edge mismatches)
            if not (w.end_char <= start or w.start_char >= end):
                match = w
                break

        if match:
            ner = next((t for s0, e0, t in ents if s0 <= match.start_char < e0), "O")
            combo_ids.append(dynamic_get_combo_id(match.upos, match.deprel, ner, match.feats))
        else:
            combo_ids.append(0)
    num_total, num_missed = 0, 0
    num_total += len(enc["offset_mapping"])
    num_missed += sum(1 for c in combo_ids if c == 0)

    # print(f"💡 Miss rate: {100 * num_missed / num_total:.2f}%")

    return enc["input_ids"], combo_ids

def chunkify_docs(docs, max_len=64):
    """Each doc becomes one padded (or truncated) sample."""
    samples = []
    for doc in docs:
        ids, cmb = encode_doc(doc)
        ids = ids[:max_len]
        cmb = cmb[:max_len]
        pad = max_len - len(ids)
        if pad:
            ids += [tokenizer.pad_token_id] * pad
            cmb += [0] * pad
        samples.append({"input_ids": ids, "combo_ids": cmb})
    return Dataset.from_list(samples)

def collate(batch, max_len=64):
    ids, cmb = [], []
    for b in batch:
        x = b["input_ids"][:max_len]
        y = b["combo_ids"][:max_len]
        pad = max_len - len(x)
        x += [tokenizer.pad_token_id] * pad
        y += [0] * pad
        ids.append(x)
        cmb.append(y)

    # Create CPU tensors (no device=)
    ids = torch.tensor(ids)
    cmb = torch.tensor(cmb)

    # Build attention mask and labels
    mask = (ids != tokenizer.pad_token_id).long()
    labels = ids.clone()
    labels[ids == tokenizer.pad_token_id] = -100

    # If ALL masked, unmask [0,0] so loss != nan
    if (labels == -100).all():
        labels[0, 0] = ids[0, 0]
        print("⚠️ All labels masked—unmasking [0,0] to avoid nan loss")

    return {
        "input_ids":      ids,
        "combo_ids":      cmb,
        "attention_mask": mask,
        "labels":         labels,
    }

class SyntaxGPT(GPT2LMHeadModel):
    def __init__(self, cfg):
        super().__init__(cfg)
        H = cfg.n_embd
        self.combo_embed = nn.Embedding(MAX_COMBOS, H)
        self.merge = nn.Linear(2 * H, H, bias=False)
        self.stored_combo_ids = None
        self.nums = 0

    def prepare_inputs_for_generation(self, input_ids, past_key_values=None, attention_mask=None, **kwargs):
        if past_key_values is None:
            combo_ids = self.stored_combo_ids.to(input_ids.device)
        else:
            combo_ids = input_ids.new_zeros(input_ids.shape)
            attention_mask = None
        return {
            "input_ids": input_ids,
            "attention_mask": attention_mask,
            "past_key_values": past_key_values,
            "combo_ids": combo_ids,
        }

    def forward(self, input_ids=None, combo_ids=None, attention_mask=None,
                labels=None, inputs_embeds=None, past_key_values=None, **kwargs):
        # print(f"hello {self.nums}")
        # self.nums += 1

        if inputs_embeds is None:
            if combo_ids is None or combo_ids.size(1) != input_ids.size(1):
                raise ValueError("combo_ids must align with input_ids")
            tok = self.transformer.wte(input_ids)
            cmb = self.combo_embed(combo_ids.to(tok.device))
            inputs_embeds = self.merge(torch.cat([tok, cmb], dim=-1))

        return GPT2LMHeadModel.forward(
            self,
            inputs_embeds=inputs_embeds,
            attention_mask=attention_mask,
            labels=labels,
            past_key_values=past_key_values,
            **kwargs
        )

cfg = GPT2Config.from_pretrained("gpt2", vocab_size=tokenizer.vocab_size)
model = SyntaxGPT(cfg).to(device)
model.config.pad_token_id = tokenizer.pad_token_id

from collections import defaultdict
from sklearn.model_selection import train_test_split

combined_val_docs = []
base_lr = 5e-4
n_epochs = 10
TOTAL = len(lessons)

# Helper to build a HuggingFace Dataset from precomputed encodings
from datasets import Dataset
def build_dataset(preprocessed, max_len=64):
    samples = []
    for ids, combo_ids in preprocessed:
        ids = ids[:max_len]
        combo = combo_ids[:max_len]
        pad = max_len - len(ids)
        if pad:
            ids   = ids   + [tokenizer.pad_token_id] * pad
            combo = combo + [0] * pad
        samples.append({"input_ids": ids, "combo_ids": combo})
    return Dataset.from_list(samples)

# ─────────────────────────────────────────────────────────────
# Now the main loop
# ─────────────────────────────────────────────────────────────
for idx, (lesson_name, raw_docs) in enumerate(lessons.items(), 1):
    # 1) Precompute encodings once
    preprocessed = []
    for d in raw_docs:
        ids, combos = encode_doc(d)   # only call encode_doc here
        preprocessed.append((ids, combos))

    # 2) Filter short docs (<2 tokens)
    filtered = []
    for i, (ids, combos) in enumerate(preprocessed):
        if len(ids) >= 2:
            filtered.append((ids, combos))
        else:
            print(f"⚠️ Skipping doc #{i} in {lesson_name}: only {len(ids)} tokens")

    if len(filtered) < 2:
        print(f"⚠️ Lesson {lesson_name} has too few valid docs ({len(filtered)}), skipping")
        continue

    # 3) Split into train/val on the filtered, precomputed list
    train_items, val_items = train_test_split(filtered, test_size=0.1, random_state=42)
    combined_val_docs += [combos for _, combos in val_items]  # for final evaluation

    print(f"\n▶ Lesson {idx}/{TOTAL}: {lesson_name} | "
          f"{len(train_items)} train | {len(val_items)} val")

    # 4) Build Datasets directly, no re-encoding
    train_set = build_dataset(train_items, max_len=64)
    val_set   = build_dataset(val_items,   max_len=64)
    if len(val_set) >= 2:
        eval_ds = val_set
        eval_strategy = "epoch"
    else:
        print(f"⚠️ Skipping eval for {lesson_name} (only {len(val_set)} val samples)")
        eval_ds = None
        eval_strategy = "no"
    args = TrainingArguments(
        output_dir=f"ckpt_{lesson_name}",
        num_train_epochs=n_epochs,
        learning_rate=base_lr,
        per_device_train_batch_size=16,
        per_device_eval_batch_size=16,
        evaluation_strategy=eval_strategy,
        logging_strategy="epoch",
        logging_steps=n_epochs // 5,
        save_strategy="no",
        report_to="none",
        fp16=False,
        remove_unused_columns=False
    )
    trainer = Trainer(
        model=model,
        args=args,
        train_dataset=train_set,
        eval_dataset=val_set if len(val_set)>=2 else None,
        data_collator=collate,  # or your existing collate
    )
    trainer.train()

✅ Loaded v1_l1.pkl (8 docs)
✅ Loaded v1_l2.pkl (8 docs)
✅ Loaded v1_l3.pkl (13 docs)
✅ Loaded v1_l4.pkl (12 docs)
✅ Loaded v1_l5.pkl (14 docs)
✅ Loaded v1_l6.pkl (48 docs)
✅ Loaded v1_l7.pkl (14 docs)
✅ Loaded v1_l8.pkl (25 docs)
✅ Loaded v1_l9.pkl (9 docs)
✅ Loaded v1_l10.pkl (21 docs)
✅ Loaded v1_l11.pkl (13 docs)
✅ Loaded v1_l12.pkl (18 docs)
✅ Loaded v1_l13.pkl (11 docs)
✅ Loaded v1_l14.pkl (25 docs)
✅ Loaded v1_l15.pkl (16 docs)
✅ Loaded v1_l16.pkl (9 docs)
✅ Loaded v1_l17.pkl (27 docs)
✅ Loaded v1_l18.pkl (18 docs)
✅ Loaded v1_l19.pkl (11 docs)
✅ Loaded v1_l20.pkl (31 docs)
✅ Loaded v1_l21.pkl (9 docs)
✅ Loaded v1_l22.pkl (40 docs)
✅ Loaded v1_l23.pkl (8 docs)
✅ Loaded v1_l24.pkl (28 docs)
✅ Loaded v1_l25.pkl (42 docs)
✅ Loaded v1_l26.pkl (18 docs)
✅ Loaded v1_l27.pkl (24 docs)
✅ Loaded v1_l28.pkl (8 docs)
✅ Loaded v1_l29.pkl (21 docs)
✅ Loaded v1_l30.pkl (15 docs)
✅ Loaded v1_l31.pkl (34 docs)
✅ Loaded v1_l32.pkl (11 docs)
✅ Loaded v1_l33.pkl (17 docs)
✅ Loaded v1_l34.pkl (16 docs)
✅ Loaded v1_l35.pkl (17 docs)
✅ Loaded v1_l36.pkl (16 docs)
✅ Loaded v1_l37.pkl (17 docs)
✅ Loaded v1_l38.pkl (11 docs)
✅ Loaded v1_l39.pkl (32 docs)
✅ Loaded v1_l40.pkl (10 docs)
✅ Loaded v1_l41.pkl (22 docs)
✅ Loaded v1_l42.pkl (13 docs)
✅ Loaded v1_l43.pkl (21 docs)
✅ Loaded v1_l44.pkl (14 docs)
✅ Loaded v1_l45.pkl (38 docs)
✅ Loaded v1_l46.pkl (9 docs)
✅ Loaded v1_l47.pkl (32 docs)
✅ Loaded v1_l48.pkl (14 docs)
✅ Loaded v1_l49.pkl (34 docs)
✅ Loaded v1_l50.pkl (15 docs)
✅ Loaded v1_l51.pkl (74 docs)
✅ Loaded v1_l52.pkl (14 docs)
✅ Loaded v1_l53.pkl (55 docs)
✅ Loaded v1_l54.pkl (16 docs)
✅ Loaded v1_l55.pkl (31 docs)
✅ Loaded v1_l56.pkl (13 docs)
✅ Loaded v1_l57.pkl (25 docs)
✅ Loaded v1_l58.pkl (21 docs)
✅ Loaded v1_l59.pkl (18 docs)
✅ Loaded v1_l60.pkl (18 docs)
✅ Loaded v1_l61.pkl (54 docs)
✅ Loaded v1_l62.pkl (20 docs)
✅ Loaded v1_l63.pkl (26 docs)
✅ Loaded v1_l64.pkl (21 docs)
✅ Loaded v1_l65.pkl (20 docs)
✅ Loaded v1_l66.pkl (16 docs)
✅ Loaded v1_l67.pkl (22 docs)
✅ Loaded v1_l68.pkl (15 docs)
✅ Loaded v1_l69.pkl (27 docs)
✅ Loaded v1_l70.pkl (20 docs)
✅ Loaded v1_l71.pkl (39 docs)
✅ Loaded v1_l72.pkl (22 docs)
✅ Loaded v1_l73.pkl (16 docs)
✅ Loaded v1_l74.pkl (15 docs)
✅ Loaded v1_l75.pkl (58 docs)
✅ Loaded v1_l76.pkl (20 docs)
✅ Loaded v1_l77.pkl (34 docs)
✅ Loaded v1_l78.pkl (18 docs)
✅ Loaded v1_l79.pkl (42 docs)
✅ Loaded v1_l80.pkl (22 docs)
✅ Loaded v1_l81.pkl (45 docs)
✅ Loaded v1_l82.pkl (25 docs)
✅ Loaded v1_l83.pkl (59 docs)
✅ Loaded v1_l84.pkl (19 docs)
✅ Loaded v1_l85.pkl (47 docs)
✅ Loaded v1_l86.pkl (19 docs)
✅ Loaded v1_l87.pkl (66 docs)
✅ Loaded v1_l88.pkl (22 docs)
✅ Loaded v1_l89.pkl (50 docs)
✅ Loaded v1_l90.pkl (22 docs)
✅ Loaded v1_l91.pkl (31 docs)
✅ Loaded v1_l92.pkl (13 docs)
✅ Loaded v1_l93.pkl (31 docs)
✅ Loaded v1_l94.pkl (22 docs)
✅ Loaded v1_l95.pkl (36 docs)
✅ Loaded v1_l96.pkl (21 docs)
✅ Loaded v1_l97.pkl (53 docs)
✅ Loaded v1_l98.pkl (18 docs)
✅ Loaded v1_l99.pkl (41 docs)
✅ Loaded v1_l100.pkl (19 docs)
✅ Loaded v1_l101.pkl (23 docs)
✅ Loaded v1_l102.pkl (22 docs)
✅ Loaded v1_l103.pkl (55 docs)
✅ Loaded v1_l104.pkl (20 docs)
✅ Loaded v1_l105.pkl (54 docs)
✅ Loaded v1_l106.pkl (18 docs)
✅ Loaded v1_l107.pkl (49 docs)
✅ Loaded v1_l108.pkl (24 docs)
✅ Loaded v1_l109.pkl (50 docs)
✅ Loaded v1_l110.pkl (20 docs)
✅ Loaded v1_l111.pkl (34 docs)
✅ Loaded v1_l112.pkl (22 docs)
✅ Loaded v1_l113.pkl (52 docs)
✅ Loaded v1_l114.pkl (21 docs)
✅ Loaded v1_l115.pkl (55 docs)
✅ Loaded v1_l116.pkl (9 docs)
✅ Loaded v1_l117.pkl (54 docs)
✅ Loaded v1_l118.pkl (17 docs)
✅ Loaded v1_l119.pkl (57 docs)
✅ Loaded v1_l120.pkl (16 docs)
✅ Loaded v1_l121.pkl (71 docs)
✅ Loaded v1_l122.pkl (20 docs)
✅ Loaded v1_l123.pkl (60 docs)
✅ Loaded v1_l124.pkl (19 docs)
✅ Loaded v1_l125.pkl (43 docs)
✅ Loaded v1_l126.pkl (21 docs)
✅ Loaded v1_l127.pkl (62 docs)
✅ Loaded v1_l128.pkl (23 docs)
✅ Loaded v1_l129.pkl (84 docs)
✅ Loaded v1_l130.pkl (20 docs)
✅ Loaded v1_l131.pkl (44 docs)
✅ Loaded v1_l132.pkl (20 docs)
✅ Loaded v1_l133.pkl (24 docs)
✅ Loaded v1_l134.pkl (22 docs)
✅ Loaded v1_l135.pkl (93 docs)
✅ Loaded v1_l136.pkl (16 docs)
✅ Loaded v1_l137.pkl (39 docs)
✅ Loaded v1_l138.pkl (19 docs)
✅ Loaded v1_l139.pkl (93 docs)
✅ Loaded v1_l140.pkl (16 docs)
✅ Loaded v1_l141.pkl (99 docs)
✅ Loaded v1_l142.pkl (27 docs)
✅ Loaded v1_l143.pkl (67 docs)
✅ Loaded v1_l144.pkl (67 docs)
✅ Loaded v2_l1.pkl (67 docs)
✅ Loaded v2_l2.pkl (78 docs)
✅ Loaded v2_l3.pkl (89 docs)
✅ Loaded v2_l4.pkl (70 docs)
✅ Loaded v2_l5.pkl (56 docs)
✅ Loaded v2_l6.pkl (50 docs)
✅ Loaded v2_l7.pkl (69 docs)
✅ Loaded v2_l8.pkl (71 docs)
✅ Loaded v2_l9.pkl (76 docs)
✅ Loaded v2_l10.pkl (109 docs)
✅ Loaded v2_l11.pkl (68 docs)
✅ Loaded v2_l12.pkl (78 docs)
✅ Loaded v2_l13.pkl (107 docs)
✅ Loaded v2_l14.pkl (84 docs)
✅ Loaded v2_l15.pkl (102 docs)
✅ Loaded v2_l16.pkl (83 docs)
✅ Loaded v2_l17.pkl (82 docs)
✅ Loaded v2_l18.pkl (81 docs)
✅ Loaded v2_l19.pkl (72 docs)
✅ Loaded v2_l20.pkl (95 docs)
✅ Loaded v2_l21.pkl (88 docs)
✅ Loaded v2_l22.pkl (90 docs)
✅ Loaded v2_l23.pkl (70 docs)
✅ Loaded v2_l24.pkl (92 docs)
✅ Loaded v2_l25.pkl (81 docs)
✅ Loaded v2_l26.pkl (76 docs)
✅ Loaded v2_l27.pkl (67 docs)
✅ Loaded v2_l28.pkl (67 docs)
✅ Loaded v2_l29.pkl (62 docs)
✅ Loaded v2_l30.pkl (67 docs)
✅ Loaded v2_l31.pkl (68 docs)
✅ Loaded v2_l32.pkl (73 docs)
✅ Loaded v2_l33.pkl (85 docs)
✅ Loaded v2_l34.pkl (88 docs)
✅ Loaded v2_l35.pkl (59 docs)
✅ Loaded v2_l36.pkl (72 docs)
✅ Loaded v2_l37.pkl (66 docs)
✅ Loaded v2_l38.pkl (62 docs)
✅ Loaded v2_l39.pkl (61 docs)
✅ Loaded v2_l40.pkl (86 docs)
✅ Loaded v2_l41.pkl (78 docs)
✅ Loaded v2_l42.pkl (82 docs)
✅ Loaded v2_l43.pkl (67 docs)
✅ Loaded v2_l44.pkl (76 docs)
✅ Loaded v2_l45.pkl (69 docs)
✅ Loaded v2_l46.pkl (85 docs)
✅ Loaded v2_l47.pkl (70 docs)
✅ Loaded v2_l48.pkl (75 docs)
✅ Loaded v2_l49.pkl (54 docs)
✅ Loaded v2_l50.pkl (69 docs)
✅ Loaded v2_l51.pkl (61 docs)
✅ Loaded v2_l52.pkl (71 docs)
✅ Loaded v2_l53.pkl (68 docs)
✅ Loaded v2_l54.pkl (63 docs)
✅ Loaded v2_l55.pkl (62 docs)
✅ Loaded v2_l56.pkl (77 docs)
✅ Loaded v2_l57.pkl (68 docs)
✅ Loaded v2_l58.pkl (58 docs)
✅ Loaded v2_l59.pkl (73 docs)
✅ Loaded v2_l60.pkl (73 docs)
✅ Loaded v2_l61.pkl (56 docs)
✅ Loaded v2_l62.pkl (56 docs)
✅ Loaded v2_l63.pkl (101 docs)
✅ Loaded v2_l64.pkl (64 docs)
✅ Loaded v2_l65.pkl (60 docs)
✅ Loaded v2_l66.pkl (76 docs)
✅ Loaded v2_l67.pkl (73 docs)
✅ Loaded v2_l68.pkl (68 docs)
✅ Loaded v2_l69.pkl (63 docs)
✅ Loaded v2_l70.pkl (54 docs)
✅ Loaded v2_l71.pkl (66 docs)
✅ Loaded v2_l72.pkl (35 docs)
✅ Loaded v2_l73.pkl (81 docs)
✅ Loaded v2_l74.pkl (62 docs)
✅ Loaded v2_l75.pkl (57 docs)
✅ Loaded v2_l76.pkl (67 docs)
✅ Loaded v2_l77.pkl (73 docs)
✅ Loaded v2_l78.pkl (64 docs)
✅ Loaded v2_l79.pkl (76 docs)
✅ Loaded v2_l80.pkl (70 docs)
✅ Loaded v2_l81.pkl (61 docs)
✅ Loaded v2_l82.pkl (54 docs)
✅ Loaded v2_l83.pkl (66 docs)
✅ Loaded v2_l84.pkl (49 docs)
✅ Loaded v2_l85.pkl (67 docs)
✅ Loaded v2_l86.pkl (54 docs)
✅ Loaded v2_l87.pkl (68 docs)
✅ Loaded v2_l88.pkl (63 docs)
✅ Loaded v2_l89.pkl (70 docs)
✅ Loaded v2_l90.pkl (63 docs)
✅ Loaded v2_l91.pkl (69 docs)
✅ Loaded v2_l92.pkl (52 docs)
✅ Loaded v2_l93.pkl (85 docs)
✅ Loaded v2_l94.pkl (73 docs)
✅ Loaded v2_l95.pkl (73 docs)
✅ Loaded v3_l1.pkl (61 docs)
✅ Loaded v3_l2.pkl (62 docs)
✅ Loaded v3_l3.pkl (48 docs)
✅ Loaded v3_l4.pkl (59 docs)
✅ Loaded v3_l5.pkl (56 docs)
✅ Loaded v3_l6.pkl (52 docs)
✅ Loaded v3_l7.pkl (64 docs)
✅ Loaded v3_l8.pkl (63 docs)
✅ Loaded v3_l9.pkl (67 docs)
✅ Loaded v3_l10.pkl (59 docs)
✅ Loaded v3_l11.pkl (62 docs)
✅ Loaded v3_l12.pkl (71 docs)
✅ Loaded v3_l13.pkl (62 docs)
✅ Loaded v3_l14.pkl (60 docs)
✅ Loaded v3_l15.pkl (61 docs)
✅ Loaded v3_l16.pkl (65 docs)
✅ Loaded v3_l17.pkl (59 docs)
✅ Loaded v3_l18.pkl (50 docs)
✅ Loaded v3_l19.pkl (52 docs)
✅ Loaded v3_l20.pkl (66 docs)
✅ Loaded v3_l21.pkl (73 docs)
✅ Loaded v3_l22.pkl (60 docs)
✅ Loaded v3_l23.pkl (64 docs)
✅ Loaded v3_l24.pkl (57 docs)
✅ Loaded v3_l25.pkl (67 docs)
✅ Loaded v3_l26.pkl (49 docs)
✅ Loaded v3_l27.pkl (63 docs)
✅ Loaded v3_l28.pkl (64 docs)
✅ Loaded v3_l29.pkl (60 docs)
✅ Loaded v3_l30.pkl (66 docs)
✅ Loaded v3_l31.pkl (64 docs)
✅ Loaded v3_l32.pkl (62 docs)
✅ Loaded v3_l33.pkl (70 docs)
✅ Loaded v3_l34.pkl (60 docs)
✅ Loaded v3_l35.pkl (59 docs)
✅ Loaded v3_l36.pkl (53 docs)
✅ Loaded v3_l37.pkl (74 docs)
✅ Loaded v3_l38.pkl (42 docs)
✅ Loaded v3_l39.pkl (69 docs)
✅ Loaded v3_l40.pkl (59 docs)
✅ Loaded v3_l41.pkl (55 docs)
✅ Loaded v3_l42.pkl (56 docs)
✅ Loaded v3_l43.pkl (60 docs)
✅ Loaded v3_l44.pkl (66 docs)
✅ Loaded v3_l45.pkl (58 docs)
✅ Loaded v3_l46.pkl (70 docs)
✅ Loaded v3_l47.pkl (55 docs)
✅ Loaded v3_l48.pkl (68 docs)
✅ Loaded v3_l49.pkl (50 docs)
✅ Loaded v3_l50.pkl (58 docs)
✅ Loaded v3_l51.pkl (61 docs)
✅ Loaded v3_l52.pkl (65 docs)
✅ Loaded v3_l53.pkl (56 docs)
✅ Loaded v3_l54.pkl (62 docs)
✅ Loaded v3_l55.pkl (66 docs)
✅ Loaded v3_l56.pkl (57 docs)
✅ Loaded v3_l57.pkl (61 docs)
✅ Loaded v3_l58.pkl (49 docs)
✅ Loaded v3_l59.pkl (54 docs)
✅ Loaded v3_l60.pkl (65 docs)
✅ Loaded v4_l1.pkl (71 docs)
✅ Loaded v4_l2.pkl (63 docs)
✅ Loaded v4_l3.pkl (57 docs)
✅ Loaded v4_l4.pkl (64 docs)
✅ Loaded v4_l5.pkl (86 docs)
✅ Loaded v4_l6.pkl (56 docs)
✅ Loaded v4_l7.pkl (56 docs)
✅ Loaded v4_l8.pkl (34 docs)
✅ Loaded v4_l9.pkl (74 docs)
✅ Loaded v4_l10.pkl (47 docs)
✅ Loaded v4_l11.pkl (35 docs)
✅ Loaded v4_l12.pkl (81 docs)
✅ Loaded v4_l13.pkl (80 docs)
✅ Loaded v4_l14.pkl (66 docs)
✅ Loaded v4_l15.pkl (58 docs)
✅ Loaded v4_l16.pkl (72 docs)
✅ Loaded v4_l17.pkl (88 docs)
✅ Loaded v4_l18.pkl (100 docs)
✅ Loaded v4_l19.pkl (83 docs)
✅ Loaded v4_l20.pkl (38 docs)
✅ Loaded v4_l21.pkl (81 docs)
✅ Loaded v4_l22.pkl (81 docs)
✅ Loaded v4_l23.pkl (80 docs)
✅ Loaded v4_l24.pkl (78 docs)
✅ Loaded v4_l25.pkl (88 docs)
✅ Loaded v4_l26.pkl (80 docs)
✅ Loaded v4_l27.pkl (92 docs)
✅ Loaded v4_l28.pkl (87 docs)
✅ Loaded v4_l29.pkl (86 docs)
✅ Loaded v4_l30.pkl (97 docs)
✅ Loaded v4_l31.pkl (81 docs)
✅ Loaded v4_l32.pkl (90 docs)
✅ Loaded v4_l33.pkl (98 docs)
✅ Loaded v4_l34.pkl (98 docs)
✅ Loaded v4_l35.pkl (98 docs)
✅ Loaded v4_l36.pkl (75 docs)
✅ Loaded v4_l37.pkl (99 docs)
✅ Loaded v4_l38.pkl (121 docs)
✅ Loaded v4_l39.pkl (85 docs)
✅ Loaded v4_l40.pkl (78 docs)
✅ Loaded v4_l41.pkl (22 docs)
✅ Loaded v4_l42.pkl (120 docs)
✅ Loaded v4_l43.pkl (92 docs)
✅ Loaded v4_l44.pkl (99 docs)
✅ Loaded v4_l45.pkl (32 docs)
✅ Loaded v4_l46.pkl (70 docs)

▶ Lesson 1/345: v1_l1.pkl | 7 train | 1 val
⚠️ Skipping eval for v1_l1.pkl (only 1 val samples)

▶ Lesson 2/345: v1_l2.pkl | 7 train | 1 val
⚠️ Skipping eval for v1_l2.pkl (only 1 val samples)

▶ Lesson 3/345: v1_l3.pkl | 11 train | 2 val

▶ Lesson 4/345: v1_l4.pkl | 10 train | 2 val

▶ Lesson 5/345: v1_l5.pkl | 12 train | 2 val

▶ Lesson 6/345: v1_l6.pkl | 43 train | 5 val

▶ Lesson 7/345: v1_l7.pkl | 12 train | 2 val

▶ Lesson 8/345: v1_l8.pkl | 22 train | 3 val

▶ Lesson 9/345: v1_l9.pkl | 8 train | 1 val
⚠️ Skipping eval for v1_l9.pkl (only 1 val samples)

▶ Lesson 10/345: v1_l10.pkl | 18 train | 3 val

▶ Lesson 11/345: v1_l11.pkl | 11 train | 2 val

▶ Lesson 12/345: v1_l12.pkl | 16 train | 2 val

▶ Lesson 13/345: v1_l13.pkl | 9 train | 2 val

▶ Lesson 14/345: v1_l14.pkl | 22 train | 3 val

▶ Lesson 15/345: v1_l15.pkl | 14 train | 2 val

▶ Lesson 16/345: v1_l16.pkl | 8 train | 1 val
⚠️ Skipping eval for v1_l16.pkl (only 1 val samples)

▶ Lesson 17/345: v1_l17.pkl | 24 train | 3 val

▶ Lesson 18/345: v1_l18.pkl | 16 train | 2 val

▶ Lesson 19/345: v1_l19.pkl | 9 train | 2 val

▶ Lesson 20/345: v1_l20.pkl | 27 train | 4 val

▶ Lesson 21/345: v1_l21.pkl | 8 train | 1 val
⚠️ Skipping eval for v1_l21.pkl (only 1 val samples)

▶ Lesson 22/345: v1_l22.pkl | 36 train | 4 val

▶ Lesson 23/345: v1_l23.pkl | 7 train | 1 val
⚠️ Skipping eval for v1_l23.pkl (only 1 val samples)

▶ Lesson 24/345: v1_l24.pkl | 25 train | 3 val

▶ Lesson 25/345: v1_l25.pkl | 37 train | 5 val

▶ Lesson 26/345: v1_l26.pkl | 16 train | 2 val

▶ Lesson 27/345: v1_l27.pkl | 21 train | 3 val

▶ Lesson 28/345: v1_l28.pkl | 7 train | 1 val
⚠️ Skipping eval for v1_l28.pkl (only 1 val samples)

▶ Lesson 29/345: v1_l29.pkl | 18 train | 3 val

▶ Lesson 30/345: v1_l30.pkl | 13 train | 2 val

▶ Lesson 31/345: v1_l31.pkl | 30 train | 4 val

▶ Lesson 32/345: v1_l32.pkl | 9 train | 2 val

▶ Lesson 33/345: v1_l33.pkl | 15 train | 2 val

▶ Lesson 34/345: v1_l34.pkl | 14 train | 2 val

▶ Lesson 35/345: v1_l35.pkl | 15 train | 2 val

▶ Lesson 36/345: v1_l36.pkl | 14 train | 2 val

▶ Lesson 37/345: v1_l37.pkl | 15 train | 2 val

▶ Lesson 38/345: v1_l38.pkl | 9 train | 2 val

▶ Lesson 39/345: v1_l39.pkl | 28 train | 4 val

▶ Lesson 40/345: v1_l40.pkl | 9 train | 1 val
⚠️ Skipping eval for v1_l40.pkl (only 1 val samples)

▶ Lesson 41/345: v1_l41.pkl | 19 train | 3 val

▶ Lesson 42/345: v1_l42.pkl | 11 train | 2 val

▶ Lesson 43/345: v1_l43.pkl | 18 train | 3 val

▶ Lesson 44/345: v1_l44.pkl | 12 train | 2 val

▶ Lesson 45/345: v1_l45.pkl | 34 train | 4 val

▶ Lesson 46/345: v1_l46.pkl | 8 train | 1 val
⚠️ Skipping eval for v1_l46.pkl (only 1 val samples)

▶ Lesson 47/345: v1_l47.pkl | 28 train | 4 val

▶ Lesson 48/345: v1_l48.pkl | 12 train | 2 val

▶ Lesson 49/345: v1_l49.pkl | 30 train | 4 val

▶ Lesson 50/345: v1_l50.pkl | 13 train | 2 val

▶ Lesson 51/345: v1_l51.pkl | 66 train | 8 val

▶ Lesson 52/345: v1_l52.pkl | 12 train | 2 val

▶ Lesson 53/345: v1_l53.pkl | 49 train | 6 val

▶ Lesson 54/345: v1_l54.pkl | 14 train | 2 val

▶ Lesson 55/345: v1_l55.pkl | 27 train | 4 val

▶ Lesson 56/345: v1_l56.pkl | 11 train | 2 val

▶ Lesson 57/345: v1_l57.pkl | 22 train | 3 val

▶ Lesson 58/345: v1_l58.pkl | 18 train | 3 val

▶ Lesson 59/345: v1_l59.pkl | 16 train | 2 val

▶ Lesson 60/345: v1_l60.pkl | 16 train | 2 val

▶ Lesson 61/345: v1_l61.pkl | 48 train | 6 val

▶ Lesson 62/345: v1_l62.pkl | 18 train | 2 val

▶ Lesson 63/345: v1_l63.pkl | 23 train | 3 val

▶ Lesson 64/345: v1_l64.pkl | 18 train | 3 val

▶ Lesson 65/345: v1_l65.pkl | 18 train | 2 val

▶ Lesson 66/345: v1_l66.pkl | 14 train | 2 val

▶ Lesson 67/345: v1_l67.pkl | 19 train | 3 val

▶ Lesson 68/345: v1_l68.pkl | 13 train | 2 val

▶ Lesson 69/345: v1_l69.pkl | 24 train | 3 val

▶ Lesson 70/345: v1_l70.pkl | 18 train | 2 val

▶ Lesson 71/345: v1_l71.pkl | 35 train | 4 val

▶ Lesson 72/345: v1_l72.pkl | 19 train | 3 val

▶ Lesson 73/345: v1_l73.pkl | 14 train | 2 val

▶ Lesson 74/345: v1_l74.pkl | 13 train | 2 val

▶ Lesson 75/345: v1_l75.pkl | 52 train | 6 val

▶ Lesson 76/345: v1_l76.pkl | 18 train | 2 val

▶ Lesson 77/345: v1_l77.pkl | 30 train | 4 val

▶ Lesson 78/345: v1_l78.pkl | 16 train | 2 val

▶ Lesson 79/345: v1_l79.pkl | 37 train | 5 val

▶ Lesson 80/345: v1_l80.pkl | 19 train | 3 val

▶ Lesson 81/345: v1_l81.pkl | 40 train | 5 val

▶ Lesson 82/345: v1_l82.pkl | 22 train | 3 val

⚠️ Skipping doc #58 in v1_l83.pkl: only 1 tokens

▶ Lesson 83/345: v1_l83.pkl | 52 train | 6 val

▶ Lesson 84/345: v1_l84.pkl | 17 train | 2 val

▶ Lesson 85/345: v1_l85.pkl | 42 train | 5 val

▶ Lesson 86/345: v1_l86.pkl | 17 train | 2 val

▶ Lesson 87/345: v1_l87.pkl | 59 train | 7 val

▶ Lesson 88/345: v1_l88.pkl | 19 train | 3 val

▶ Lesson 89/345: v1_l89.pkl | 45 train | 5 val

▶ Lesson 90/345: v1_l90.pkl | 19 train | 3 val

▶ Lesson 91/345: v1_l91.pkl | 27 train | 4 val

▶ Lesson 92/345: v1_l92.pkl | 11 train | 2 val

▶ Lesson 93/345: v1_l93.pkl | 27 train | 4 val

▶ Lesson 94/345: v1_l94.pkl | 19 train | 3 val

▶ Lesson 95/345: v1_l95.pkl | 32 train | 4 val

▶ Lesson 96/345: v1_l96.pkl | 18 train | 3 val

▶ Lesson 97/345: v1_l97.pkl | 47 train | 6 val

▶ Lesson 98/345: v1_l98.pkl | 16 train | 2 val

▶ Lesson 99/345: v1_l99.pkl | 36 train | 5 val

▶ Lesson 100/345: v1_l100.pkl | 17 train | 2 val

▶ Lesson 101/345: v1_l101.pkl | 20 train | 3 val

▶ Lesson 102/345: v1_l102.pkl | 19 train | 3 val

▶ Lesson 103/345: v1_l103.pkl | 49 train | 6 val

▶ Lesson 104/345: v1_l104.pkl | 18 train | 2 val

▶ Lesson 105/345: v1_l105.pkl | 48 train | 6 val

▶ Lesson 106/345: v1_l106.pkl | 16 train | 2 val

▶ Lesson 107/345: v1_l107.pkl | 44 train | 5 val

▶ Lesson 108/345: v1_l108.pkl | 21 train | 3 val

▶ Lesson 109/345: v1_l109.pkl | 45 train | 5 val

▶ Lesson 110/345: v1_l110.pkl | 18 train | 2 val

▶ Lesson 111/345: v1_l111.pkl | 30 train | 4 val

▶ Lesson 112/345: v1_l112.pkl | 19 train | 3 val

▶ Lesson 113/345: v1_l113.pkl | 46 train | 6 val

▶ Lesson 114/345: v1_l114.pkl | 18 train | 3 val

▶ Lesson 115/345: v1_l115.pkl | 49 train | 6 val

▶ Lesson 116/345: v1_l116.pkl | 8 train | 1 val
⚠️ Skipping eval for v1_l116.pkl (only 1 val samples)

▶ Lesson 117/345: v1_l117.pkl | 48 train | 6 val

▶ Lesson 118/345: v1_l118.pkl | 15 train | 2 val

▶ Lesson 119/345: v1_l119.pkl | 51 train | 6 val

▶ Lesson 120/345: v1_l120.pkl | 14 train | 2 val

▶ Lesson 121/345: v1_l121.pkl | 63 train | 8 val

▶ Lesson 122/345: v1_l122.pkl | 18 train | 2 val

▶ Lesson 123/345: v1_l123.pkl | 54 train | 6 val

▶ Lesson 124/345: v1_l124.pkl | 17 train | 2 val

▶ Lesson 125/345: v1_l125.pkl | 38 train | 5 val

▶ Lesson 126/345: v1_l126.pkl | 18 train | 3 val

▶ Lesson 127/345: v1_l127.pkl | 55 train | 7 val

▶ Lesson 128/345: v1_l128.pkl | 20 train | 3 val

▶ Lesson 129/345: v1_l129.pkl | 75 train | 9 val

▶ Lesson 130/345: v1_l130.pkl | 18 train | 2 val

▶ Lesson 131/345: v1_l131.pkl | 39 train | 5 val

▶ Lesson 132/345: v1_l132.pkl | 18 train | 2 val

▶ Lesson 133/345: v1_l133.pkl | 21 train | 3 val

▶ Lesson 134/345: v1_l134.pkl | 19 train | 3 val

▶ Lesson 135/345: v1_l135.pkl | 83 train | 10 val

▶ Lesson 136/345: v1_l136.pkl | 14 train | 2 val

▶ Lesson 137/345: v1_l137.pkl | 35 train | 4 val

▶ Lesson 138/345: v1_l138.pkl | 17 train | 2 val

▶ Lesson 139/345: v1_l139.pkl | 83 train | 10 val

▶ Lesson 140/345: v1_l140.pkl | 14 train | 2 val

▶ Lesson 141/345: v1_l141.pkl | 89 train | 10 val

▶ Lesson 142/345: v1_l142.pkl | 24 train | 3 val

▶ Lesson 143/345: v1_l143.pkl | 60 train | 7 val

▶ Lesson 144/345: v1_l144.pkl | 60 train | 7 val

▶ Lesson 145/345: v2_l1.pkl | 60 train | 7 val

▶ Lesson 146/345: v2_l2.pkl | 70 train | 8 val

▶ Lesson 147/345: v2_l3.pkl | 80 train | 9 val

▶ Lesson 148/345: v2_l4.pkl | 63 train | 7 val

▶ Lesson 149/345: v2_l5.pkl | 50 train | 6 val

▶ Lesson 150/345: v2_l6.pkl | 45 train | 5 val

▶ Lesson 151/345: v2_l7.pkl | 62 train | 7 val

▶ Lesson 152/345: v2_l8.pkl | 63 train | 8 val

▶ Lesson 153/345: v2_l9.pkl | 68 train | 8 val

▶ Lesson 154/345: v2_l10.pkl | 98 train | 11 val

▶ Lesson 155/345: v2_l11.pkl | 61 train | 7 val

▶ Lesson 156/345: v2_l12.pkl | 70 train | 8 val

▶ Lesson 157/345: v2_l13.pkl | 96 train | 11 val

▶ Lesson 158/345: v2_l14.pkl | 75 train | 9 val

▶ Lesson 159/345: v2_l15.pkl | 91 train | 11 val

▶ Lesson 160/345: v2_l16.pkl | 74 train | 9 val

▶ Lesson 161/345: v2_l17.pkl | 73 train | 9 val

▶ Lesson 162/345: v2_l18.pkl | 72 train | 9 val

⚠️ Skipping doc #1 in v2_l19.pkl: only 1 tokens

▶ Lesson 163/345: v2_l19.pkl | 63 train | 8 val

▶ Lesson 164/345: v2_l20.pkl | 85 train | 10 val

▶ Lesson 165/345: v2_l21.pkl | 79 train | 9 val

▶ Lesson 166/345: v2_l22.pkl | 81 train | 9 val

▶ Lesson 167/345: v2_l23.pkl | 63 train | 7 val

▶ Lesson 168/345: v2_l24.pkl | 82 train | 10 val

▶ Lesson 169/345: v2_l25.pkl | 72 train | 9 val

▶ Lesson 170/345: v2_l26.pkl | 68 train | 8 val

▶ Lesson 171/345: v2_l27.pkl | 60 train | 7 val

▶ Lesson 172/345: v2_l28.pkl | 60 train | 7 val

▶ Lesson 173/345: v2_l29.pkl | 55 train | 7 val

▶ Lesson 174/345: v2_l30.pkl | 60 train | 7 val

▶ Lesson 175/345: v2_l31.pkl | 61 train | 7 val

▶ Lesson 176/345: v2_l32.pkl | 65 train | 8 val

▶ Lesson 177/345: v2_l33.pkl | 76 train | 9 val

▶ Lesson 178/345: v2_l34.pkl | 79 train | 9 val

▶ Lesson 179/345: v2_l35.pkl | 53 train | 6 val

▶ Lesson 180/345: v2_l36.pkl | 64 train | 8 val

▶ Lesson 181/345: v2_l37.pkl | 59 train | 7 val

▶ Lesson 182/345: v2_l38.pkl | 55 train | 7 val

▶ Lesson 183/345: v2_l39.pkl | 54 train | 7 val

▶ Lesson 184/345: v2_l40.pkl | 77 train | 9 val

▶ Lesson 185/345: v2_l41.pkl | 70 train | 8 val

▶ Lesson 186/345: v2_l42.pkl | 73 train | 9 val

▶ Lesson 187/345: v2_l43.pkl | 60 train | 7 val

▶ Lesson 188/345: v2_l44.pkl | 68 train | 8 val

▶ Lesson 189/345: v2_l45.pkl | 62 train | 7 val

▶ Lesson 190/345: v2_l46.pkl | 76 train | 9 val

▶ Lesson 191/345: v2_l47.pkl | 63 train | 7 val

▶ Lesson 192/345: v2_l48.pkl | 67 train | 8 val

▶ Lesson 193/345: v2_l49.pkl | 48 train | 6 val

▶ Lesson 194/345: v2_l50.pkl | 62 train | 7 val

▶ Lesson 195/345: v2_l51.pkl | 54 train | 7 val

▶ Lesson 196/345: v2_l52.pkl | 63 train | 8 val

⚠️ Skipping doc #1 in v2_l53.pkl: only 1 tokens

▶ Lesson 197/345: v2_l53.pkl | 60 train | 7 val

▶ Lesson 198/345: v2_l54.pkl | 56 train | 7 val

▶ Lesson 199/345: v2_l55.pkl | 55 train | 7 val

▶ Lesson 200/345: v2_l56.pkl | 69 train | 8 val

▶ Lesson 201/345: v2_l57.pkl | 61 train | 7 val

▶ Lesson 202/345: v2_l58.pkl | 52 train | 6 val

▶ Lesson 203/345: v2_l59.pkl | 65 train | 8 val

▶ Lesson 204/345: v2_l60.pkl | 65 train | 8 val

▶ Lesson 205/345: v2_l61.pkl | 50 train | 6 val

▶ Lesson 206/345: v2_l62.pkl | 50 train | 6 val

▶ Lesson 207/345: v2_l63.pkl | 90 train | 11 val

▶ Lesson 208/345: v2_l64.pkl | 57 train | 7 val

▶ Lesson 209/345: v2_l65.pkl | 54 train | 6 val

▶ Lesson 210/345: v2_l66.pkl | 68 train | 8 val

▶ Lesson 211/345: v2_l67.pkl | 65 train | 8 val

▶ Lesson 212/345: v2_l68.pkl | 61 train | 7 val

▶ Lesson 213/345: v2_l69.pkl | 56 train | 7 val

▶ Lesson 214/345: v2_l70.pkl | 48 train | 6 val

▶ Lesson 215/345: v2_l71.pkl | 59 train | 7 val

▶ Lesson 216/345: v2_l72.pkl | 31 train | 4 val

▶ Lesson 217/345: v2_l73.pkl | 72 train | 9 val

▶ Lesson 218/345: v2_l74.pkl | 55 train | 7 val

▶ Lesson 219/345: v2_l75.pkl | 51 train | 6 val

▶ Lesson 220/345: v2_l76.pkl | 60 train | 7 val

▶ Lesson 221/345: v2_l77.pkl | 65 train | 8 val

▶ Lesson 222/345: v2_l78.pkl | 57 train | 7 val

▶ Lesson 223/345: v2_l79.pkl | 68 train | 8 val

▶ Lesson 224/345: v2_l80.pkl | 63 train | 7 val

▶ Lesson 225/345: v2_l81.pkl | 54 train | 7 val

▶ Lesson 226/345: v2_l82.pkl | 48 train | 6 val

▶ Lesson 227/345: v2_l83.pkl | 59 train | 7 val

▶ Lesson 228/345: v2_l84.pkl | 44 train | 5 val

▶ Lesson 229/345: v2_l85.pkl | 60 train | 7 val

▶ Lesson 230/345: v2_l86.pkl | 48 train | 6 val

▶ Lesson 231/345: v2_l87.pkl | 61 train | 7 val

▶ Lesson 232/345: v2_l88.pkl | 56 train | 7 val

▶ Lesson 233/345: v2_l89.pkl | 63 train | 7 val

▶ Lesson 234/345: v2_l90.pkl | 56 train | 7 val

▶ Lesson 235/345: v2_l91.pkl | 62 train | 7 val

▶ Lesson 236/345: v2_l92.pkl | 46 train | 6 val

▶ Lesson 237/345: v2_l93.pkl | 76 train | 9 val

▶ Lesson 238/345: v2_l94.pkl | 65 train | 8 val

▶ Lesson 239/345: v2_l95.pkl | 65 train | 8 val

▶ Lesson 240/345: v3_l1.pkl | 54 train | 7 val

▶ Lesson 241/345: v3_l2.pkl | 55 train | 7 val

▶ Lesson 242/345: v3_l3.pkl | 43 train | 5 val

▶ Lesson 243/345: v3_l4.pkl | 53 train | 6 val

▶ Lesson 244/345: v3_l5.pkl | 50 train | 6 val

▶ Lesson 245/345: v3_l6.pkl | 46 train | 6 val

▶ Lesson 246/345: v3_l7.pkl | 57 train | 7 val

▶ Lesson 247/345: v3_l8.pkl | 56 train | 7 val

▶ Lesson 248/345: v3_l9.pkl | 60 train | 7 val

▶ Lesson 249/345: v3_l10.pkl | 53 train | 6 val

▶ Lesson 250/345: v3_l11.pkl | 55 train | 7 val

▶ Lesson 251/345: v3_l12.pkl | 63 train | 8 val

▶ Lesson 252/345: v3_l13.pkl | 55 train | 7 val

▶ Lesson 253/345: v3_l14.pkl | 54 train | 6 val

▶ Lesson 254/345: v3_l15.pkl | 54 train | 7 val

▶ Lesson 255/345: v3_l16.pkl | 58 train | 7 val

▶ Lesson 256/345: v3_l17.pkl | 53 train | 6 val

▶ Lesson 257/345: v3_l18.pkl | 45 train | 5 val

▶ Lesson 258/345: v3_l19.pkl | 46 train | 6 val

▶ Lesson 259/345: v3_l20.pkl | 59 train | 7 val

▶ Lesson 260/345: v3_l21.pkl | 65 train | 8 val

▶ Lesson 261/345: v3_l22.pkl | 54 train | 6 val

▶ Lesson 262/345: v3_l23.pkl | 57 train | 7 val

▶ Lesson 263/345: v3_l24.pkl | 51 train | 6 val

▶ Lesson 264/345: v3_l25.pkl | 60 train | 7 val

▶ Lesson 265/345: v3_l26.pkl | 44 train | 5 val

▶ Lesson 266/345: v3_l27.pkl | 56 train | 7 val

▶ Lesson 267/345: v3_l28.pkl | 57 train | 7 val

▶ Lesson 268/345: v3_l29.pkl | 54 train | 6 val

▶ Lesson 269/345: v3_l30.pkl | 59 train | 7 val

▶ Lesson 270/345: v3_l31.pkl | 57 train | 7 val

▶ Lesson 271/345: v3_l32.pkl | 55 train | 7 val

▶ Lesson 272/345: v3_l33.pkl | 63 train | 7 val

▶ Lesson 273/345: v3_l34.pkl | 54 train | 6 val

▶ Lesson 274/345: v3_l35.pkl | 53 train | 6 val

▶ Lesson 275/345: v3_l36.pkl | 47 train | 6 val

▶ Lesson 276/345: v3_l37.pkl | 66 train | 8 val

▶ Lesson 277/345: v3_l38.pkl | 37 train | 5 val

▶ Lesson 278/345: v3_l39.pkl | 62 train | 7 val

▶ Lesson 279/345: v3_l40.pkl | 53 train | 6 val

▶ Lesson 280/345: v3_l41.pkl | 49 train | 6 val

▶ Lesson 281/345: v3_l42.pkl | 50 train | 6 val

▶ Lesson 282/345: v3_l43.pkl | 54 train | 6 val

▶ Lesson 283/345: v3_l44.pkl | 59 train | 7 val

▶ Lesson 284/345: v3_l45.pkl | 52 train | 6 val

▶ Lesson 285/345: v3_l46.pkl | 63 train | 7 val

▶ Lesson 286/345: v3_l47.pkl | 49 train | 6 val

▶ Lesson 287/345: v3_l48.pkl | 61 train | 7 val

▶ Lesson 288/345: v3_l49.pkl | 45 train | 5 val

▶ Lesson 289/345: v3_l50.pkl | 52 train | 6 val

▶ Lesson 290/345: v3_l51.pkl | 54 train | 7 val

⚠️ Skipping doc #15 in v3_l52.pkl: only 1 tokens

▶ Lesson 291/345: v3_l52.pkl | 57 train | 7 val

▶ Lesson 292/345: v3_l53.pkl | 50 train | 6 val

▶ Lesson 293/345: v3_l54.pkl | 55 train | 7 val

▶ Lesson 294/345: v3_l55.pkl | 59 train | 7 val

▶ Lesson 295/345: v3_l56.pkl | 51 train | 6 val

▶ Lesson 296/345: v3_l57.pkl | 54 train | 7 val

▶ Lesson 297/345: v3_l58.pkl | 44 train | 5 val

▶ Lesson 298/345: v3_l59.pkl | 48 train | 6 val

▶ Lesson 299/345: v3_l60.pkl | 58 train | 7 val

▶ Lesson 300/345: v4_l1.pkl | 63 train | 8 val

▶ Lesson 301/345: v4_l2.pkl | 56 train | 7 val

▶ Lesson 302/345: v4_l3.pkl | 51 train | 6 val

▶ Lesson 303/345: v4_l4.pkl | 57 train | 7 val

▶ Lesson 304/345: v4_l5.pkl | 77 train | 9 val

▶ Lesson 305/345: v4_l6.pkl | 50 train | 6 val

▶ Lesson 306/345: v4_l7.pkl | 50 train | 6 val

▶ Lesson 307/345: v4_l8.pkl | 30 train | 4 val

▶ Lesson 308/345: v4_l9.pkl | 66 train | 8 val

▶ Lesson 309/345: v4_l10.pkl | 42 train | 5 val

▶ Lesson 310/345: v4_l11.pkl | 31 train | 4 val

▶ Lesson 311/345: v4_l12.pkl | 72 train | 9 val

▶ Lesson 312/345: v4_l13.pkl | 72 train | 8 val

▶ Lesson 313/345: v4_l14.pkl | 59 train | 7 val

▶ Lesson 314/345: v4_l15.pkl | 52 train | 6 val

▶ Lesson 315/345: v4_l16.pkl | 64 train | 8 val

▶ Lesson 316/345: v4_l17.pkl | 79 train | 9 val

▶ Lesson 317/345: v4_l18.pkl | 90 train | 10 val

▶ Lesson 318/345: v4_l19.pkl | 74 train | 9 val

▶ Lesson 319/345: v4_l20.pkl | 34 train | 4 val

▶ Lesson 320/345: v4_l21.pkl | 72 train | 9 val

▶ Lesson 321/345: v4_l22.pkl | 72 train | 9 val

▶ Lesson 322/345: v4_l23.pkl | 72 train | 8 val

▶ Lesson 323/345: v4_l24.pkl | 70 train | 8 val

▶ Lesson 324/345: v4_l25.pkl | 79 train | 9 val

▶ Lesson 325/345: v4_l26.pkl | 72 train | 8 val

▶ Lesson 326/345: v4_l27.pkl | 82 train | 10 val

▶ Lesson 327/345: v4_l28.pkl | 78 train | 9 val

▶ Lesson 328/345: v4_l29.pkl | 77 train | 9 val

▶ Lesson 329/345: v4_l30.pkl | 87 train | 10 val

▶ Lesson 330/345: v4_l31.pkl | 72 train | 9 val

▶ Lesson 331/345: v4_l32.pkl | 81 train | 9 val

▶ Lesson 332/345: v4_l33.pkl | 88 train | 10 val

▶ Lesson 333/345: v4_l34.pkl | 88 train | 10 val

▶ Lesson 334/345: v4_l35.pkl | 88 train | 10 val

▶ Lesson 335/345: v4_l36.pkl | 67 train | 8 val

▶ Lesson 336/345: v4_l37.pkl | 89 train | 10 val

⚠️ Skipping doc #35 in v4_l38.pkl: only 1 tokens

▶ Lesson 337/345: v4_l38.pkl | 108 train | 12 val

▶ Lesson 338/345: v4_l39.pkl | 76 train | 9 val

▶ Lesson 339/345: v4_l40.pkl | 70 train | 8 val

▶ Lesson 340/345: v4_l41.pkl | 19 train | 3 val

▶ Lesson 341/345: v4_l42.pkl | 108 train | 12 val

▶ Lesson 342/345: v4_l43.pkl | 82 train | 10 val

▶ Lesson 343/345: v4_l44.pkl | 89 train | 10 val

▶ Lesson 344/345: v4_l45.pkl | 28 train | 4 val

⚠️ Skipping doc #0 in v4_l46.pkl: only 1 tokens

▶ Lesson 345/345: v4_l46.pkl | 62 train | 7 val

ValueError: too many values to unpack (expected 2)

In [ ]:
# Assuming `model` and `tokenizer` are already loaded/fine-tuned
save_dir = "my_syntax_gpt_model"

model.save_pretrained(save_dir)
tokenizer.save_pretrained(save_dir)

('my_syntax_gpt_model/tokenizer_config.json',
 'my_syntax_gpt_model/special_tokens_map.json',
 'my_syntax_gpt_model/vocab.json',
 'my_syntax_gpt_model/merges.txt',
 'my_syntax_gpt_model/added_tokens.json',
 'my_syntax_gpt_model/tokenizer.json')

In [ ]:
save_dir = "my_syntax_gpt_model"

model = SyntaxGPT.from_pretrained(save_dir).to(device)
tokenizer = GPT2TokenizerFast.from_pretrained(save_dir)

In [ ]:
# 🔥 new imports at the top
from torch.nn.utils import clip_grad_norm_
import numpy as np

device = "cuda" if torch.cuda.is_available() else "cpu"
model.to(device)

# ─────────────────────────────────────────────────────────────
# load TREC and Stanza‑parsed docs
# ─────────────────────────────────────────────────────────────
trec = load_dataset("trec")
label_map = trec["train"].features["coarse_label"].names

with open("trec_train_docs.pkl", "rb") as f:
    parsed_train_docs = pickle.load(f)
with open("trec_test_docs.pkl", "rb") as f:
    parsed_test_docs = pickle.load(f)

assert len(parsed_train_docs) == len(trec["train"])
assert len(parsed_test_docs)  == len(trec["test"])

# ─────────────────────────────────────────────────────────────
# encode_doc_with_label: builds input_ids, combo_ids, labels
# ─────────────────────────────────────────────────────────────
def encode_doc_with_label(doc, label_text, max_len=64):
    # prompt tokens
    prompt_text = doc.text.strip()
    prompt_ids  = tokenizer(prompt_text, add_special_tokens=False)["input_ids"]
    # label tokens
    label_ids   = tokenizer.encode(label_text.strip(), add_special_tokens=False)

    # full input = prompt + label
    full_input_ids = prompt_ids + label_ids
    # mask prompt for loss, keep label tokens
    labels = [-100]*len(prompt_ids) + label_ids

    # get combo_ids for prompt only, pad to full length
    _, combo_ids = encode_doc(doc)
    combo_ids = combo_ids[:len(full_input_ids)]
    combo_ids += [0]*(len(full_input_ids) - len(combo_ids))

    # truncate/pad to max_len
    full_input_ids = full_input_ids[:max_len]
    labels         = labels[:max_len]
    combo_ids      = combo_ids[:max_len]

    pad = max_len - len(full_input_ids)
    full_input_ids += [tokenizer.pad_token_id]*pad
    labels         += [-100]*pad
    combo_ids      += [0]*pad

    return {
        "input_ids": full_input_ids,
        "combo_ids": combo_ids,
        "labels":    labels,
    }

# ─────────────────────────────────────────────────────────────
# dataset wrapper
# ─────────────────────────────────────────────────────────────
class TrecSyntaxDataset(Dataset):
    def __init__(self, parsed_docs, label_ids, max_len=64):
        self.samples = []
        for doc, label_id in tqdm(zip(parsed_docs, label_ids), total=len(parsed_docs)):
            sample = encode_doc_with_label(doc, label_map[label_id], max_len)
            self.samples.append(sample)

    def __getitem__(self, idx):
        return self.samples[idx]

    def __len__(self):
        return len(self.samples)

# ─────────────────────────────────────────────────────────────
# build datasets & collator
# ─────────────────────────────────────────────────────────────
train_set = TrecSyntaxDataset(parsed_train_docs, trec["train"]["coarse_label"])
val_set   = TrecSyntaxDataset(parsed_test_docs,  trec["test"]["coarse_label"])

# 🚨 Modify collate_trec: protect against fully masked labels
def collate_trec(batch):
    ids   = torch.tensor([b["input_ids"] for b in batch])
    cmb   = torch.tensor([b["combo_ids"] for b in batch])
    labs  = torch.tensor([b["labels"]    for b in batch])
    mask  = (ids != tokenizer.pad_token_id).long()

    # Protect: if all labels masked (-100), unmask one
    for i in range(labs.shape[0]):
        if (labs[i] != -100).sum() == 0:
            labs[i, -1] = ids[i, -1]  # unmask last token

    return {
        "input_ids":      ids,
        "combo_ids":      cmb,
        "attention_mask": mask,
        "labels":         labs,
    }

# 🚨 Slightly change Trainer setup
args = TrainingArguments(
    output_dir="syntaxgpt_trec_ckpt",
    per_device_train_batch_size=8,
    per_device_eval_batch_size=8,
    num_train_epochs=10,   # 📈 allow up to 10 epochs
    learning_rate=5e-4,
    evaluation_strategy="epoch",
    logging_strategy="epoch",
    # save_strategy="no",
    save_strategy="epoch",
    report_to="none",
    fp16=False,                    # 🚫 Turn off fp16 for stability
    gradient_accumulation_steps=1,
    # gradient_clip_val=1.0,          # 🚀 Clip large gradients (Trainer accepts it now)
    max_grad_norm=1.0,
    remove_unused_columns=False,
    load_best_model_at_end=True,    # 🚨 enable early stopping
    metric_for_best_model="eval_loss",
    greater_is_better=False,
)

# ✅ add compute_metrics again
def compute_metrics(eval_pred):
    logits, labels = eval_pred
    preds = np.argmax(logits, axis=-1)
    labels = np.array(labels)

    # Only count labels that were actually predicted
    valid_idx = labels != -100
    preds = preds[valid_idx]
    labels = labels[valid_idx]

    acc = accuracy_score(labels, preds)
    p, r, f1, _ = precision_recall_fscore_support(labels, preds, average="macro")
    return {"accuracy": acc, "precision": p, "recall": r, "f1": f1}

trainer = Trainer(
    model=model,
    args=args,
    train_dataset=train_set,
    eval_dataset=val_set,
    data_collator=collate_trec,
    compute_metrics=compute_metrics,
)

trainer.train()

100%|██████████| 5452/5452 [00:02<00:00, 1870.46it/s]
100%|██████████| 500/500 [00:00<00:00, 2080.01it/s]
/usr/local/lib/python3.11/dist-packages/transformers/optimization.py:391: FutureWarning: This implementation of AdamW is deprecated and will be removed in a future version. Use the PyTorch implementation torch.optim.AdamW instead, or set `no_deprecation_warning=True` to disable this warning
  warnings.warn(

/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [ ]:
# 10 pretraining epochs
from sklearn.metrics import precision_recall_fscore_support
import torch.nn.functional as F

correct = 0
total = len(val_set)
all_preds = []
all_golds = []
losses = []

def predict_label(sample):
    prompt_len = next(i for i, x in enumerate(sample["labels"]) if x != -100)

    input_ids = torch.tensor([sample["input_ids"][:prompt_len]]).to(device)
    combo_ids = torch.tensor([sample["combo_ids"][:prompt_len]]).to(device)

    # 📢 Extend combo_ids to match expected beam size
    while combo_ids.size(1) < input_ids.size(1):
        # pad extra 0s at the end
        combo_ids = torch.cat([combo_ids, combo_ids.new_zeros(1,1)], dim=1)

    model.stored_combo_ids = combo_ids

    print(f"prompt: {tokenizer.decode(input_ids[0], skip_special_tokens=True).strip()}")
    with torch.no_grad():
        out = model.generate(
            input_ids=input_ids,
            attention_mask=(input_ids != tokenizer.pad_token_id).long(),
            max_new_tokens=4,
            num_beams=1,  # 🚨 important: disable beam search if possible
        )[0].tolist()

    new_ids = out[prompt_len:]
    return tokenizer.decode(new_ids, skip_special_tokens=True).strip().upper()


label_name_to_id = {name.upper(): i for i, name in enumerate(label_map)}

for sample, gold_idx in zip(val_set, trec["test"]["coarse_label"]):
    pred = predict_label(sample)
    true = label_map[gold_idx].upper()

    print(f"prompt: {tokenizer.decode(sample['input_ids'], skip_special_tokens=True).strip()}")
    print(f" predict: {pred}\n")

    if pred.startswith(true):  # ✅ soft match
        correct += 1
        pred = true  # overwrite pred to ensure consistency in metrics

    all_preds.append(pred)
    all_golds.append(true)

    # Optional: token-level loss
    try:
        input_ids = torch.tensor([sample["input_ids"]]).to(device)
        labels = torch.tensor([sample["labels"]]).to(device)
        attn_mask = (input_ids != tokenizer.pad_token_id).long()
        model.stored_combo_ids = torch.tensor([sample["combo_ids"]]).to(device)

        with torch.no_grad():
            output = model(input_ids=input_ids, attention_mask=attn_mask, labels=labels)
            losses.append(output.loss.item())
    except Exception:
        pass

# 🎯 Accuracy
acc = correct / total

# 🎯 Classification Metrics
gold_ids = [label_name_to_id.get(label, -1) for label in all_golds]
pred_ids = [label_name_to_id.get(p, -1) for p in all_preds]

filtered_gold_ids = []
filtered_pred_ids = []
for g, p in zip(gold_ids, pred_ids):
    if g != -1 and p != -1:
        filtered_gold_ids.append(g)
        filtered_pred_ids.append(p)

p, r, f1, _ = precision_recall_fscore_support(filtered_gold_ids, filtered_pred_ids, average="macro")

# 📢 Final Results
print(f"\n🔍 Evaluation Results (max_new_tokens=4 + startswith logic):")
print(f"Accuracy:  {acc:.4f}")
print(f"Avg Loss:  {sum(losses)/len(losses):.4f}" if losses else "Loss: (not computed)")
print(f"Recall:    {r:.4f} ignore")
print(f"F1 Score:  {f1:.4f} ignore")

prompt: Here is a question: How far is it from Denver to Aspen? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: How far is it from Denver to Aspen? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: NUMCCC

prompt: Here is a question: What county is Modesto, California in? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What county is Modesto, California in? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:LOC
 predict: LOCYYY

prompt: Here is a question: Who was Galileo? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: Who was Galileo? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:HUM
 predict: HUMUMUM

prompt: Here is a question: What is an atom? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is an atom? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: When did Hawaii become a state? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: When did Hawaii become a state? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: NUMCCC

prompt: Here is a question: How tall is the Sears Building? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: How tall is the Sears Building? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: NUMCCC

prompt: Here is a question: George Bush purchased a small interest in which baseball team? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: George Bush purchased a small interest in which baseball team? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:HUM
 predict: LOCYYY

prompt: Here is a question: What is Australia's national flower? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is Australia's national flower? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:ENTY
 predict: ENTYYY

prompt: Here is a question: Why does the moon turn orange? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: Why does the moon turn orange? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: What is autism? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is autism? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: What city had a world fair in 1900? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What city had a world fair in 1900? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:LOC
 predict: HUMUMUM

prompt: Here is a question: What person's head is on a dime? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What person's head is on a dime? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:HUM
 predict: LOCYYY

prompt: Here is a question: What is the average weight of a Yellow Labrador? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is the average weight of a Yellow Labrador? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: ENTCCC

prompt: Here is a question: Who was the first man to fly across the Pacific Ocean? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: Who was the first man to fly across the Pacific Ocean? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:HUM
 predict: HUMUMUM

prompt: Here is a question: When did Idaho become a state? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: When did Idaho become a state? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: NUMCCC

prompt: Here is a question: What is the life expectancy for crickets? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is the life expectancy for crickets? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: DESCCC

prompt: Here is a question: What metal has the highest melting point? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What metal has the highest melting point? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:ENTY
 predict: LOCYYY

prompt: Here is a question: Who developed the vaccination against polio? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: Who developed the vaccination against polio? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:HUM
 predict: HUMUMUM

prompt: Here is a question: What is epilepsy? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is epilepsy? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: What year did the Titanic sink? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What year did the Titanic sink? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: LOCYYY

prompt: Here is a question: Who was the first American to walk in space? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: Who was the first American to walk in space? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:HUM
 predict: HUMUMUM

prompt: Here is a question: What is a biosphere? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is a biosphere? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: What river in the US is known as the Big Muddy? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What river in the US is known as the Big Muddy? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:LOC
 predict: LOCYYY

prompt: Here is a question: What is bipolar disorder? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is bipolar disorder? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: What is cholesterol? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is cholesterol? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: Who developed the Macintosh computer? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: Who developed the Macintosh computer? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:HUM
 predict: HUMUMUM

prompt: Here is a question: What is caffeine? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is caffeine? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: What imaginary line is halfway between the North and South Poles? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What imaginary line is halfway between the North and South Poles? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:LOC
 predict: LOCYYY

prompt: Here is a question: Where is John Wayne airport? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: Where is John Wayne airport? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:LOC
 predict: DESCCC

prompt: Here is a question: What hemisphere is the Philippines in? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What hemisphere is the Philippines in? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:LOC
 predict: LOCYYY

prompt: Here is a question: What is the average speed of the horses at the Kentucky Derby? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is the average speed of the horses at the Kentucky Derby? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: ENTYYY

prompt: Here is a question: Where are the Rocky Mountains? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: Where are the Rocky Mountains? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:LOC
 predict: LOCYYY

prompt: Here is a question: What are invertebrates? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What are invertebrates? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: What is the temperature at the center of the earth? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is the temperature at the center of the earth? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: DESYYY

prompt: Here is a question: When did John F. Kennedy get elected as President? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: When did John F. Kennedy get elected as President? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: NUMCCC

prompt: Here is a question: How old was Elvis Presley when he died? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: How old was Elvis Presley when he died? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: NUMYYY

prompt: Here is a question: Where is the Orinoco River? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: Where is the Orinoco River? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:LOC
 predict: LOCYYY

prompt: Here is a question: How far is the service line from the net in tennis? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: How far is the service line from the net in tennis? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: NUMCCC

prompt: Here is a question: How much fiber should you have per day? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: How much fiber should you have per day? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: DESCCC

prompt: Here is a question: How many Great Lakes are there? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: How many Great Lakes are there? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: NUMCCC

prompt: Here is a question: Material called linen is made from what plant? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: Material called linen is made from what plant? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:ENTY
 predict: LOCYYY

prompt: Here is a question: What is Teflon? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is Teflon? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: What is amitriptyline? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is amitriptyline? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: What is a shaman? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is a shaman? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: What is the proper name for a female walrus? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is the proper name for a female walrus? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:ENTY
 predict: ENTYYY

prompt: Here is a question: What is a group of turkeys called? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is a group of turkeys called? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:ENTY
 predict: LOCYYY

prompt: Here is a question: How long did Rip Van Winkle sleep? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: How long did Rip Van Winkle sleep? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: NUMCCC

prompt: Here is a question: What are triglycerides? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What are triglycerides? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: How many liters in a gallon? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: How many liters in a gallon? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: DESCCC

prompt: Here is a question: What is the name of the chocolate company in San Francisco? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is the name of the chocolate company in San Francisco? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:HUM
 predict: ENTYYY

prompt: Here is a question: What are amphibians? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What are amphibians? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: Who discovered x-rays? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: Who discovered x-rays? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:HUM
 predict: HUMUMUM

prompt: Here is a question: Which comedian's signature line is `` Can we talk ''? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: Which comedian's signature line is `` Can we talk ''? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:HUM
 predict: LOCYYY

prompt: Here is a question: What is fibromyalgia? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is fibromyalgia? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: What is done with worn or outdated flags? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is done with worn or outdated flags? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: ENTYYY

prompt: Here is a question: What does cc in engines mean? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What does cc in engines mean? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: When did Elvis Presley die? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: When did Elvis Presley die? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: NUMCCC

prompt: Here is a question: What is the capital of Yugoslavia? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is the capital of Yugoslavia? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:LOC
 predict: ENTYYY

prompt: Here is a question: Where is Milan? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: Where is Milan? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:LOC
 predict: LOCYYY

prompt: Here is a question: What is the speed hummingbirds fly? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is the speed hummingbirds fly? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: DESYYY

prompt: Here is a question: What is the oldest city in the United States? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What is the oldest city in the United States? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:LOC
 predict: ENTYYY

prompt: Here is a question: What was W.C. Fields'real name? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What was W.C. Fields'real name? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:HUM
 predict: ENTYYY

prompt: Here is a question: What river flows between Fargo, North Dakota and Moorhead, Minnesota? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What river flows between Fargo, North Dakota and Moorhead, Minnesota? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:LOC
 predict: LOCYYY

prompt: Here is a question: What do bats eat? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What do bats eat? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:ENTY
 predict: DESCCC

prompt: Here is a question: What state did the Battle of Bighorn take place in? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What state did the Battle of Bighorn take place in? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:LOC
 predict: LOCYYY

prompt: Here is a question: Who was Abraham Lincoln? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: Who was Abraham Lincoln? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:HUM
 predict: HUMUMUM

prompt: Here is a question: What do you call a newborn kangaroo? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What do you call a newborn kangaroo? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:ENTY
 predict: ENTYYY

prompt: Here is a question: What are spider veins? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What are spider veins? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:DESC
 predict: DESCCC

prompt: Here is a question: What day and month did John Lennon die? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:
prompt: Here is a question: What day and month did John Lennon die? What is the best label among DESC, ENTY, ABBR, HUM, LOC, NUM? Answer:NUM
 predict: LOCYYY
